
<!DOCTYPE html>
<html>
<head>
<title>Welcome to myCho!</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>
</head>
<body>



	<div data-role="page" id="home">
		<div data-role="footer">
		<div data-role="navbar">
		<div data-role="header" data-position="fixed" align="left" data-theme="c">
		<h1> Welcome to myCho! </h1>
		</div>
			<ul><li><a href="/cho/my_account/1" data-icon="gear"> My Account</a></li>
			    <li><a href="/cho/vendors" data-icon="grid">Vendors</a></li>
			    <li><a href="/cho/reviews" data-icon="star">Reviews</a></li>
			    <li><a href="#" data-icon="arrow-r">More</a></li>
			  <!--  <li><a href="#" data-icon="search">Search </a></li> -->
			</ul>
		</div>
		</div>
		 

		<div data-role="content">

		{% block _content %}

		<a href="/cho/preorder/vendors" data-role="button" data-icon="plus" data-theme="b">Pre-Order </a>
		<a href="/cho/delivery/vendors" data-role="button" data-icon="plus" data-theme="b">Delivery </a>
		<a href="/cho/reserve/vendors" data-role="button" data-icon="plus" data-theme="b">Reservation </a>
		{% endblock %}
		</div>

		 <div data-role="footer">
			  <h4><a href="/cho/" data-role="button" data-icon="home" align="left">Home</a>  </h4>
		 </div>
	</div>



</body>
</html>
